<section>
    <h2>Véhicules</h2>
    <table>
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Couleur</th>
                <th>Prix</th>
            </tr>
            <tr>
                <td>
                    <button (click)="setSortOrder('asc')">Ordre croissant</button>
                    <button (click)="setSortOrder('desc')">Ordre décroissant</button>
                </td>
                <td>
                    <input type="text" placeholder="Rechercher" [(ngModel)]="searchTerm" (change)="searchTerm=searchTerm" >
                </td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tr *ngFor="let vehicule of (vehicules | sortByMarque:sortOrder | filterByModele:searchTerm)">
            <td>{{ vehicule.marque }}</td>
            <td><a routerLink="['/vehicules', vehicule.id]">{{ vehicule.modele }}</a></td>
            <td>{{ vehicule.couleur }}</td>
            <td>{{ vehicule.prix }}</td>
        </tr>
    </table>
</section>